@charset "utf-8";

div{width: 1000px; height: 500px; border: 5px solid red; background-image: url(../images/kakao.jpg); background-repeat: no-repeat; background-position: 40% bottom;}

background-position
1. 키워드: 수평(left, center, right), 수직(top, center, bottom)
2. 백분율
3. 수치입력