@charset "utf-8";
*{padding: 0; margin: 0;}
div{width: 900px; border: 5px solid red; margin: 0 auto; /*overflow: hidden;*/}

/*
float을 해제하는 방법1(float을 해제.)
float이 들어가있는 태그의 부모태그:after{content: ""; clear: both; display: block;}
div:after{content: ""; clear: both; display: block;}*/

/*
float을 해제하는 방법2(float 속성이 들어가 있는 태그의 크기를 인식.)
float이 들어가 있는 태그의 부모태그{overflow:hidden;}
div{overflow:hidden;}*/

/*
float을 해제하는 방법3(float속성 상관없이 크기를 지정해주는 방법.)
float이 들어가 있는 태그의 부모태그{height 속성}*/
div{height: 500px;}


div > h1{margin: 10px;}

/* .p1, .p2, .p3{그룹선택자} or div > p{자식선택자+태그선택자} */

div > p{width: 300px; height: 300px; border: 1px solid red; box-sizing: border-box;}
/* content 영역의 크기가 축소.
box-sizing: content-box;
box-sizing: border-box;
*/
.p1{color: blue; float: left;}
.p2{color: green; float: left;}
.p3{color: pink; float: left;}


/*
clear 속성값.: float에 들어가있는 방향에 맞게 설정.
1. left
2. right
3. both: 둘다 해제.

clear: both;
*/